<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
       <% if @user.avatar.exists? then %>
        <div class="img">
			   <%= image_tag @user.avatar.url(:thumb)%>
        </div>
		    <% else %>
          <i class="icon-user"></i>
		    <% end %>
		    <h1>
          <%= @user.name %>
        </h1>
    </section>
  </aside>
</div>
